#root {
  min-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-size: 1.2rem;
}

.pokemonSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.startBtn {
  margin: 1rem;
}

select {
  padding: 10px;
  font-size: 1rem;
  border-radius: 8px;
  border: 2px solid #5274ed;
  background-color: rgb(236, 215, 26);
  color: #333;
  outline: none;
  cursor: pointer;
}

.selectSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3B4CCA;
  border-radius: 1rem 0 0 1rem;
  padding: 2rem;
  gap: 1rem;
  box-shadow: 4px 4px 20px rgba(51, 206, 217, 0.687);
}

.pokemonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #B3A125;
  border-radius: 0 1rem 1rem 0;
  color: black;
  padding: 0.5rem;
  box-shadow: 4px 4px 20px rgba(236, 210, 93, 0.687);
}

.pokemonImage {
  background-color: black;
  width: 220px;
  border-radius: 1rem;
}
